.resizable-handle {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #3b82f6;
  border: 1px solid white;
  border-radius: 50%;
  z-index: 2;
}

.resizable-handle-top {
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.resizable-handle-right {
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resizable-handle-bottom {
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  cursor: ns-resize;
}

.resizable-handle-left {
  top: 50%;
  left: -5px;
  transform: translateY(-50%);
  cursor: ew-resize;
}

.resizable-handle-topRight {
  top: -5px;
  right: -5px;
  cursor: nesw-resize;
}

.resizable-handle-bottomRight {
  bottom: -5px;
  right: -5px;
  cursor: nwse-resize;
}

.resizable-handle-bottomLeft {
  bottom: -5px;
  left: -5px;
  cursor: nesw-resize;
}

.resizable-handle-topLeft {
  top: -5px;
  left: -5px;
  cursor: nwse-resize;
}